@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_primario: #ffffff;
  --primary-color: #dcd7f8;
  --color_secundario: #d9d3fa;
  --color_blanco: #370e66;
  --text-dark: #3f3b57;
  --text-light: #b5b5cc;
  --tamanio_fuente: 18px;
  --maximo_ancho: 1200px;
  --alto_nav: 40px;
}

::selection {
  background-color: var(--color_primario);
  color: var(--color_secundario);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--alto_nav);
}

body {
  font-size: var(--tamanio_fuente);
  background-color: var(--color_secundario);
  color: var(--color_blanco);
}

header {
  background-color: var(--color_primario);
  color: var(--color_secundario);
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 10px 0;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lista {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__link{
  text-decoration: underline;
  color: var(--color_secundario);
  font-weight: bold;
}

.nav__link2 {
  text-decoration: underline #b3a7f4;
  color: var(--text-dark);
  font-weight: bold;
}

.logo {
  height: 100px;
  width: 140px;
}

section {
  padding: 20px 0;
  margin-bottom: 10px;
  scroll-margin-top: var(--alto_nav);
}

.contenedor {
  width: 100%;
  max-width: var(--maximo_ancho);
  margin: 0 auto;
  overflow: hidden;
}

.h-100 {
  height: calc(100vh - var(--alto_nav));
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(60vh - 60px);
  padding-top: 20px;
}

.contenedor-principal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-top: 20px;
}

.imagen-contenedor {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-textos {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.logo1 {
  width: 15vw;
  height: auto;
  position: absolute;
  left: 1%; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.logo2 {
  width: 25vw;
  height: auto;
  position: absolute;
  left: 30%; 
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.titulo1, .titulo2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
}

.parrafo {
  margin: 20px 0;
  font-weight: 350;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  background-color: var(--text-light);
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
  margin-top: 20px;
}

.Blanco {
  background-color: var(--color_primario);
  text-align: center;
  width: 100%;
  height: calc(40vh - 60px);
  margin-top: 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(60vh - 60px);
    padding-top: 20px;
  }

  .image-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-textos {
    height: 100%;
    width: 100%;
  }
}



/*------------- Página 2 -------------*/
.root2 {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color_primario);
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.textos3{
   margin-bottom: 100px; 
   margin-top: 40px;
}

.tituloa {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.titulob {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.contenedor2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.seccion {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-color: white; 
  border-radius: 10px;
  padding: 20px;
  width: 30%; 
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  z-index: -1; 
  background-size: cover; 
  background-position: center; 
}

.logo3 {
  position: absolute; 
  z-index: 2; 
  width: 150px; 
  top: 50px; 
  left: 50%; 
  transform: translateX(-50%); 
 
}

.logo4 {
  position: absolute; 
  z-index: 2; 
  width: 180px; 
  top: 50px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.logo5 {
  position: absolute; 
  z-index: 2; 
  width: 130px; 
  top: 40px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.subtexto{
  margin-top: 40px;
}

.titulo3{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.parrafo{

}


.seccion:nth-child(1) .background-container {
  background-image: url('fondocasita.png');
}

.seccion:nth-child(2) .background-container {
  background-image: url('fondocomida.png');
}

.seccion:nth-child(3) .background-container {
  background-image: url('fondoshampo.png');
}

@media (max-width: 576px) {
  .contenedor2 {
    flex-direction: column;
    align-items: center;
  }

  .seccion {
    width: 80%;
  }
}

#About-Us .btn {
  display: inline-block;
  background-color: white; 
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


#About-Us .btn1 {
  border: 2px solid yellow; 
  color: yellow; 
}

#About-Us .btn2 {
  border: 2px solid blue; 
  color: blue; 
}

#About-Us .btn3 {
  border: 2px solid rgb(72, 39, 82);
  color: rgb(72, 39, 82); 
}

